h1, #header{
    color:rgb(43, 174, 226);
}

p, li{
    color: rgb(186, 192, 192);
}

.green{
    color: aquamarine;
}

button{
    border: 0;
    width: 80px;
    height: 40px;
    background-color: rgb(43, 174, 226);
    color: #000;
    text-align: center;
    /* border-style:none; */
    border-radius: 3%;
    padding: 10px 20px;
    margin: 5px;
}

button:hover{
    background-color: rgb(21, 100, 131);
}

img{
    position: fixed;
}

span{
    color:rgb(43, 174, 226);
}

.red{
    color: red;
}

.blue{
    color: skyblue;
}

body{
    background-color: rgb(25, 25, 25);
    font-family: 'Oswald', sans-serif;
}