body {
  text-align: center;
  background-color: #2f3235;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  background-color: #2f3235;
  font-size: 3rem;
  margin: 3% auto 0%;
  padding: 2% 5%;
  color: rgb(211, 211, 211);
  border-color: rgb(211, 211, 211);
  border-style: solid;
}

#level-title:hover {
  color: #2f3235;
  background-color: rgb(211, 211, 211);
}

#step {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  margin: 3%;
  color: rgb(211, 211, 211);
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 0px solid rgb(20, 20, 20);
  border-radius: 5%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 5% 35% 5% 5%;
}

.green {
  background-color: green;
  border-radius: 35% 5% 5% 5%;
}

.blue {
  background-color: blue;
  border-radius: 5% 5% 35% 5%;
}

.grey {
  background-color: grey;
}

.yellow {
  background-color: yellow;
  border-radius: 5% 5% 5% 35%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
